* {
    font-family: "Spinnaker", sans-serif;
    text-align: center;
}
body {
    width: 90%;
    margin: auto;
    background: url("fugly-images/halloween-hike.jpg");
}

/* header styling */
h1 {
    /* text-align: center; */
    padding: .75rem;
    background: linear-gradient(30deg, #fff 0%, pink 20%, #00b3ff 40%, #5eee32 60%, #fcca01 80%, #000 100%);
    font-family: "Kablammo", system-ui;
    color: #d2691e;
    border: 6px #fff dotted;
    border-radius: 20px;
}
/* id selector */
#main-image {
    width: 100%;
    object-fit: contain;
    height: 150px;
    background: url("fugly-images/odd-eyes.jpg");
    padding: 2em 1em 3em 4em;
}

/* navigation menu styling*/
nav {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* contrast ratio 12.7:1 webaim.org */
    background-color: #adcdeb;
}
li {
    float: left;
}
li a {
    display: block;
    float: left;
    color: #000;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #9bc2e6;
    /* font styling */
    font-weight: 800;   
}
#current {
    float: right;
}

/* main styling */
.hiking-love p {
    line-height: 1.5;
    /* text-align: center; */
    max-width: 1200px;
    margin: .5em auto;
    background: #00008b;
    opacity: .5;
    color: whitesmoke;
}
.hiking-love p:first-of-type {
    margin-left: 14em;
    text-align: right;
    padding-left: 5em;
    width: 500px;
}
.funny-image {
    width: 30%;
    border-radius: 25px;
}

.top-hikes {
    display: flex;
    flex-direction: column;
}
.top-hikes img:nth-of-type(1) {
    border-top: 12px #32ee99 inset;
    border-radius: 0;
    border-bottom: 12px gold ridge;
    border-left: 8px purple dotted;
    border-right: 8px pink dashed;
}
.top-hikes img {
    margin: 1em;
}
.top-hikes img:hover {
    transform: scale(1.2);
    opacity: .5;
}

/* footer */
#name {
    /* font styling */
    font-family: cursive;
    color: #00008b;
}
aside {
    float: left;
    font-size: 4em;
    width: 200px;
    /* margin-right: 20px; */
    padding-right: 50px;
    text-align: left;
    color: brown;
    background-color: #d2691e; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 30px;
}