* {
    font-family: "Spinnaker", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
html {
    background-color: #cfc9c1;
}
body {
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    padding: .5em 2em;
}

/* header styling */
header #mountain-logo {
    width: 100px;
    opacity: 0.5;
    position: absolute;
    margin: 0 auto;
    z-index: -1;
}
h1 {
    margin: 20px auto;
}
/* id selector */
#main-image {
    width: 100%;
    display: block;
    max-width: 1200px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto 10px;
}

/* navigation menu styling*/
nav {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #adcdeb;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* contrast ratio 12.7:1 webaim.org */
    background-color: #adcdeb;
}
li {
    float: left;
}
li a {
    display: block;
    float: left;
    color: #000;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #9bc2e6;
    /* font styling */
    font-weight: 800;   
}
#current {
    float: right;
}

/* main styling */

.hiking-love p {
    line-height: 1.5;
    /* text-align: center; */
    max-width: 1200px;
    margin: .5em auto;
}
.top-hikes img {
    width: 15%;
    height: 15%;
}

/* footer */
#name {
    /* font styling */
    font-family: cursive;
    color: #00008b;
}