/* FORM styling
   =============================================================== */
form {
    background-color: rgba(6, 120, 161, 0.208);
    padding: 10px 20px 30px 20px;
    max-width: 500px;
    border-radius: 7px;
    margin: auto;

    h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }
    h4 {
        text-align: center;
    }
    
}
/* FORM-INPUT styling
   =============================================================== */
form {
    input,
    select,
    textarea {
        width: 100%;
        background: #fff;
        border: 0;
        border-radius: 4px;
        margin-bottom: 25px;
        padding: 10px;
    }
    textarea {
        height: 150px;
    }
    input:focus,
    select:focus,
    textarea:focus {
        background-color: #E5E6E7;
    }
}

/* FORM-BUTTON styling
   =============================================================== */
form {
    button[type="submit"] {
        cursor: pointer;
        width: 50%;
        display: block;
        margin: 0 auto;
        background: #2b7a78;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }
    button[type="submit"]:hover {
        background-color: #3aafa9;
        transition: background-color 0.3s ease-in-out;
    }
    button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto 0;
    background-color: var(--base-white);
    padding: 30px 0;

    h2 {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

/* TABLE styling
   =============================================================== */
.table-container {
    margin: 20px auto 0;
    width: 400px;
}
table {
    font-size: 1em;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    
    th, td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: center;
    }
    td:nth-child(2) {
        text-align: left;
    }
    tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    th {
        background-color: rgba(6, 120, 161, 0.208);
    }
    #two-column {
        text-align: right;
        font-weight: bold;
    }
}

/* GRAPH styling
   =============================================================== */
.bar-graph {
    margin: 20px auto 0;
    width: 500px;
}
.bar-item {
    display: flex;
    max-width: 500px;
    margin-bottom: 10px;
    height: 40px;
    text-indent: 0.75em;

    .label-left {
        color: white;
        background-color: #3aafa9;
        text-align: right;
        direction: rtl;
        display: inline-flex;
        align-items: center;
    }
    img {
        height: 30px;
        margin: auto 10px;
    }
    .label-right {
        background-color: lightgrey;
        width: 100%;
        display: inline-flex;
        align-items: center;
    }
}

#japan, #ca {
    width: 74%;
}
#wa {
    width: 70%;
}
#hi {
    width: 28%;
}
#az, #ut, #nv {
    width: 20%;
}
