* {
    font-family: "Spinnaker", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
html {
    background-color: #cfc9c1;
}
body {
    /* width: 90%; */
    margin: auto;
    background-color: whitesmoke;
    padding: .5em 2em;
}

/* header styling */
header {
    max-width: 1500px;
    margin: 10px auto;
}
h1 {
    margin: 30px auto 10px;
}
h3 {
    margin-bottom: 30px;
}
#main-image {
    width: 100%;
    display: block;
    margin: 0 auto 10px;
}

/* 10 essentials styling */
main {
    padding: 2em 0;

}
.ten-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-width: 1500px;
    margin: auto;
    justify-content: center;
    flex-grow: 1;
}
.ten-images img {
    padding: 1em;
    width: 350px;
}

/* footer */
#name {
    font-family: cursive;
    color: #00008b;
}