/* MAIN styling
   =============================================================== */
main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* DIV styling - Photo Gallery
   =============================================================== */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 1.5em auto 0;
    gap: 1.5em;
}

/* DIV styling - Individual Photo Card Styling
   =============================================================== */
.photo-card {
    border: 1px solid var(--item-border);
    background-color: rgba(6, 120, 161, 0.208);
    min-width: 420px;
    width: 47%;
    border-radius: 0.375em;
    transition: transform 0.5s linear;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    .photo-title {
        padding: 1.5em 1em 0;
        text-transform: uppercase;
        height: fit-content;
    }
    .desc {
        padding: 0 1em 1em;
        text-align: bottom center;
        font-size: 1.5em;
    }
    a img {
        width: 100%;
        margin: 1em 0;
    }
}
/* HOVER Styling - Individual Photo Card moves left or right
   =============================================================== */
.photo-card:nth-child(even):hover {
    transform: translateX(-20px);
}
.photo-card:nth-child(odd):hover {
    transform: translateX(20px);
}

/* Media Queries for 768px and 480px screens
   =============================================================== */
@media only screen and (min-width: 768px) and (max-width: 1020px) {
    .photo-card {
        min-width: 250px;
    }
    .gallery {
        margin: auto 30px;
    }
}
@media only screen and (max-width: 768px) {
    .photo-card:nth-child(even):hover {
        transform: scale(1.05);
    }
    .photo-card:nth-child(odd):hover {
        transform: scale(1.05);
    }

}
@media only screen and (max-width: 440px) {
    .photo-card{
        max-width: 90%;
    }
}