/* Main styling
   =============================================================== */
main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* DIV styling - Photo Gallery
   =============================================================== */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px 0;
    background-color: #f4f3f3;
}

/* DIV styling - Individual Photo Card Styling
   =============================================================== */
.photo-card {
    border: 1px solid #ccc;
    background-color: white;
    max-width: 590px;
    min-width: 420px;
    margin: 1.2em 0;
    width: 43%;
    border-radius: 0.375em;
    transition: transform 0.5s linear;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);

    .photo-title {
        padding: 1em 1em 0;
        text-indent: 1em;
        margin-top: 0.5em;
        text-transform: uppercase;
    }
    .desc {
        padding: 0 1em 1em;
        text-align: center;
        font-size: 1.5em;
    }
    a img {
        width: 100%;
        margin: 1em 0;
    }
}
/* HOVER Styling - Individual Photo Card increases size on hover
   =============================================================== */
.photo-card:hover {
    transform: scale(1.3);
}

/* Media Queries for 768px and 480px screens
   =============================================================== */
@media only screen and (min-width: 857px) and (max-width: 1020px) {
    .photo-card {
        min-width: 380px;
    }
}
@media only screen and (max-width: 856px) {
    .gallery {
        background-color: var(--base);
    }
    .photo-card {
        width: auto;
    }
}
@media only screen and (max-width: 800px) {
    .photo-card:hover {
        transform: none;
    }
}
@media only screen and (max-width: 440px) {
    .photo-card{
        min-width: auto;
    }
}