/* main styling */
main {
    max-width: 1200px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* photo gallery styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px 0;
    background-color: var(--base-2);
}

.photo-card {
    border: 1px solid #ccc;
    background-color: white;
    max-width: 590px;
    min-width: 420px;
    margin: 1.2em 0;
    width: 43%;
    border-radius: 0.375em;
    /* min-height: 430px; */
    /* height: auto; */
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.photo-card:hover {
    transform: scale(1.05);
}

.photo-card img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.photo-title {
    padding: 1em 1em 0;
    text-indent: 1em;
    margin-top: 0.5em;
    text-transform: uppercase;
}

.desc {
    padding: 0 1em 1em;
    text-align: center;
    font-size: 1.5em;
}

@media only screen and (min-width: 857px) and (max-width: 1020px) {
    .photo-card {
        min-width: 380px;
    }
}

@media only screen and (max-width: 856px) {
    .photo-card {
        width: auto;
    }
}