/* main styling */
main {
    max-width: 1200px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* article styling */
.article-body {
    width: 60%;
    background-color: var(--base-2);
    margin-right: 20px;
    margin-bottom: 10px;
    flex-basis: auto;
}

.article-body h1 {
    font-family: var(--script-font);
    text-align: left;
    margin: 20px 40px;
    text-indent: 50px;
}

.article-body p {
    text-align: left;
    margin: 20px 40px;
    line-height: 2em;
    text-indent: 50px;
}

#no-indent {
    text-indent: 0;
}

/* side-bar stylings */
.side-bar {
    width: 38%;
    background-color: var(--base-2);
    text-align: left;
    text-indent: 50px;
    padding-bottom: 10px;
    /* this will move side-bar below article-body when screen hits 800px */
    /* flex: 1 1 298px; */
    margin-bottom: 10px;
}

.side-bar h3 {
    text-align: left;
    margin: 30px 40px;
    text-indent: 50px;
}

.hiking-benefits {
    list-style-position: inside;
    display: block;
    line-height: 2.5em;
    text-align: left;
    margin-bottom: 1em;
}

.benefit {
    font-size: 1.2em;
}

/* photo gallery styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 10px auto;
    background-color: var(--base);
}

.photo-card {
    border: 1px solid #ccc;
    background-color: var(--base-2);
    max-width: 500px;
    min-width: 420px;
    margin: 6px;
    width: 45%;
    border-radius: 0.375em;
    min-height: 430px;
}

.photo-card:hover {
    border: 2px solid #5c5a46;
}

.photo-card img {
    width: 100%;
    height: auto;
    margin: 1em 0;
}

.photo-title {
    padding: 1em 1em 0;
    text-indent: 1em;
    margin-top: 0.5em;
    text-transform: uppercase;
}

.desc {
    padding: 1em;
    text-align: center;
}

/* MEDIA QUERIES */
/* this will drop the side-bar below the article-body
   adjusts the size to 100% to keep it centered on the page */
@media only screen and (max-width: 1020px) {

    .article-body,
    .side-bar {
        width: 100%;
        margin: 0.625em auto;
    }
}