/* Main styling
   =============================================================== */
main {
    max-width: 1200px;
    margin: 0 auto 0.625em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* Article styling, About Me section
   =============================================================== */
article {
    flex: 1 0 50%;
    background-color: var(--base-white);
    margin-right: 1.25em;
    margin-bottom: 0.625em;

    h1 {
        font-family: var(--script-font);
    }
    h1, p {
        text-align: left;
        margin: 1.25em 2.5em;
        line-height: 2em;
        text-indent: 50px;
    }
    #no-indent {
        text-indent: 0;
    }
}

/* Aside styling, List of Benefits section
   =============================================================== */
aside {
    flex: 1 0 30%;
    background-color: var(--base-white);
    text-align: left;
    text-indent: 30px;
    padding-bottom: 10px;
    margin-bottom: 0.625em;

    h3 {
        margin: 2.5em 2.5em 0.625em;
    }
    ul {
        list-style-position: inside;
        display: block;
        line-height: 2.5em;
    }
}

/* MEDIA QUERIES
   =============================================================== */
@media only screen and (max-width: 890px) {
    aside h3 {
        margin-left: 1em;
    }
}
@media only screen and (max-width: 830px) {
    main {
        flex-direction: column;
        margin: auto;
        row-gap: 10px;
    }
    article {
        width: 98%;
        margin: auto;

        h1 {
            text-align: center;
            text-indent: 0;
        }
    }
    aside {
        width: 98%;
        margin: auto;
    
        ul {
            text-indent: 6em;
        }
        h3 {
            text-align: center;
            text-indent: 0;
            margin: 2em auto 1em;
        }
    }
}
@media only screen and (max-width: 490px) {
    aside h3 {
        margin: 2.5em auto 0.625em;
    }
    aside ul {
        text-indent: 1em;
    }
}