/* Shared styling for all pages
   =============================================================== */
:root {
    /* --base: #d7c2bd; */
    /* --base: #88bdbc; */
    --base: #def2f1;
    --base-white: #ffffff;
    --gallery-color: #feffff;
    --item-border: #ebeaea;
    --hover-text: #2b7a78;
    --body-font: "Montserrat", sans-serif;
    --script-font: "Dancing Script", cursive;
    --number-font: "Capriola", serif;
}

/* BASIC RESET styles
   =============================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    > a {
        text-decoration: none;
        color: black;
    }

    > body {
        font-family: var(--body-font);
        background-color: var(--base);
    }
}

/* HEADER styling
   =============================================================== */
header {
    max-width: 1200px;
    margin: auto;

    .image-container {
        position: relative;
        width: 100%;
        margin: 0 auto 10px;
    }
    
    #header-image {
        width: 100%;
        /* max-width: 1200px; */
        /* min-height: 170px; */
        object-fit:cover;
    }
    .bottom-right {
        position: absolute;
        bottom: 0.5em;
        color: var(--base-white);
        font-size: 1.2em;
        font-family: var(--script-font);
        width: fit-content;
        text-align: right;
        right: 1em;
    }
    .bottom-right:hover {
        font-weight: bold;
        cursor: pointer;
        font-size: 2em;
        color: black;
        background-color: white;
    }
}

/* NAVIGATION MENU styling
   =============================================================== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;

    .nav-logo {
        font-size: 1.5em;
        font-weight: 600;
        font-family: var(--script-font);
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }
    .nav-item {
        margin-left: 2.5em;
    }
    .nav-link {
        font-size: 1em;
        font-weight: 500;
    }
}
.nav-link:hover,
.nav-logo:hover {
    color: var(--hover-text);
    transition: all 0.3s ease-in-out;
    /* prevents other links from moving while on hover */
    transform: scale(1.2);
    display: inline-block;
    font-weight: bolder;
}

/* HAMBURGER MENU styling
   =============================================================== */
.hamburger {
    display: none;

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #000000;
    }
}
.hamburger:hover .bar {
    background-color: var(--hover-text);
}

/* FOOTER styling
   =============================================================== */
footer {
    background-color: var(--base-white);
    max-width: 1200px;
    font-size: 1.2em;
    text-align: center;
    margin: 2em auto 0;
    line-height: 2em;

    a {
        color: #000000;
        text-transform: uppercase;
        font-weight: 500;
    }
    a:hover {
        color: var(--hover-text);
        transition: all 0.2s ease-in-out;
        transform: scale(1.2);
        font-weight: bolder;
        display: inline-block;
    }
}

/* MEDIA QUERIES
   hides nav-menu by setting position: fixed left: -100%
   sets hamburger to display: block so its visible
   =============================================================== */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        z-index: 9999;
        left: -100%;
        top: 3.8em;
        flex-direction: column;
        background-color: var(--base);
        width: 100%;
        border-radius: 2px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        height: auto;
    }

    .nav-item {
        margin: .8em 0;
        width: 100%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    header .bottom-right {
        text-align: center;
        right: 0;
        font-size: 1em;
        width: 100%;
    }
    header .bottom-right:hover {
        font-weight: normal;
        font-size: 1.2em;
    }
    
}