:root {
    /* --base: #faf9f5; */
    /* --base: #cdd8de; */
    --base: #99a57e;
    --base-2: white;
    --base-3: #efedeb;
    --item-border: #ebeaea;
    --hover-text: #2f70bd;
    --number-text:#333c2c;
    --body-font: "Montserrat", sans-serif;
    --script-font: "Dancing Script", cursive;
    --number-font: "Capriola", serif;
}

/* basic/reset styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    background-color: var(--base)
}

/* header styling */
.header {
    max-width: 1200px;
    margin: auto;
}

/* main image styling */
.image-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto 10px;
}

#header-image {
    width: 100%;
    max-width: 1200px;
    /* this will crop the sides of the image and keep in container */
    min-height: 170px;
    object-fit:cover;
}

/* nav styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin-left: 2.2em;
}

.nav-link {
    font-size: 1em;
    font-weight: 500;
    color: #000000;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: 600;
    color: #000000;
    font-family: var(--script-font);
}

.nav-link:hover,
.nav-logo:hover {
    color: var(--hover-text);
    transition: all 0.2s ease-in-out;
    /* prevents other links from moving while on hover */
    transform: scale(1.1);
    display: inline-block;
}

/* hamburger styling */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000000;
}

/* footer styling */
.foot {
    height: 100px;
    background-color: var(--base-2);
    max-width: 1200px;
    font-size: 1.2em;
    /* to center text vertically, use grid */
    display: grid;
    align-items: center;
    text-align: center;
    margin: 10px auto;
    padding-top: 1em;
    clear: both;
    height: 100%;
}

.foot p {
    padding-bottom: 1em;
}

.foot a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
}

.foot a:hover {
    color: var(--hover-text);
    transition: all 0.2s ease-in-out;
    /* prevents other links from moving while on hover */
    transform: scale(1.1);
    display: inline-block;

}

/* MEDIA QUERIES */
/* hides `nav-menu` by setting `position: fixed;`  `left: -100%;` on it
set `hamburger` to `display: block;` so it's visible
`.nav-menu.active` which sets `left: 0;` on the `nav-menu` */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        z-index: 9999;
        left: -100%;
        top: 3.8em;
        flex-direction: column;
        background-color: var(--base);
        width: 100%;
        border-radius: 2px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        height: 200px;
    }

    .nav-item {
        margin: .8em 0;
        width: 100%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}