* {
    font-family: "Spinnaker", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
html {
    background-color: #cfc9c1;
}
body {
    width: 85%;
    margin: auto;
    background-color: whitesmoke;
    padding: .5em 2em;
}

/* header styling */
header {
    max-width: 100%;
    margin: 10px auto;
}
h1 {
    margin: 30px auto;;
}
header #main-image {
    width: 100%;
    display: block;
    margin: 0 auto 10px;
}

/* 1st section styling*/
main {
    max-width: 98%;
    margin: .75em auto;
    height: 400px;
}
.hiking-love {
    padding: 2em 1em;
    float: left;
    width: 71%;
    margin: auto;
    text-align: center;
}
.hiking-love p {
    line-height: 1.7;
}

/* aside styling */
aside {
    float: right;
    width: 24%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 400px;
}
aside #girl {
    width: 90%;
    height: auto;
    margin: auto;
    display: block;
}

/* 2nd section styling */
.top-hikes {
    padding: 1em .5em;
    background-color: #e2e8ee;
    border-radius: 10px;
    clear: both;
}
.top-hikes > h2 {
    margin: 0;
}
.hiking-images {
    padding-top: 1em;
}
.top-hikes .hiking-images img {
    width: 45%;
    padding: .5em;
}

/* footer */
footer {
    margin: 20px auto;
}
footer p:nth-child(2) {
    padding-top: .5em;
}
#name {
    font-family: cursive;
    color: #00008b;
}