main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    background-color: var(--base-white);
    padding: 30px 0;

    h3 {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}
/* TABLE styling
   =============================================================== */
.table-container {
    margin: auto;
    width: 400px;
}
table {
    font-size: 1em;
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    
    th, td {
        padding: 8px;
        border: 1px solid #dddddd;
        text-align: center;
    }
    td:nth-child(2) {
        text-align: left;
    }
    tbody tr:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
    th {
        background-color: #3aafa9;
        color: white;
        border: none;
    }
    #two-column {
        text-align: right;
        font-weight: bold;
    }
}

/* GRAPH styling
   =============================================================== */
.bar-graph {
    margin: 20px auto 0;
    width: 500px;
}
.bar-item {
    display: flex;
    width: 500px;
    margin-top: 10px;
    height: 40px;
    text-indent: 0.75em;

    .label-left {
        color: white;
        background-color: #2b7a78;
        text-align: right;
        direction: rtl;
        display: inline-flex;
        align-items: center;
    }
    img {
        height: 30px;
        margin: auto 10px;
    }
    .label-right {
        background-color: #dddddd;
        width: 100%;
        display: inline-flex;
        align-items: center;
    }
}

#japan, #ca {
    width: 74%;
}
#wa {
    width: 70%;
}
#hi {
    width: 28%;
}
#az, #ut, #nv {
    width: 20%;
}


